/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  

/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HANDBURGER MENU ICON*/
.handburger{
    width: 30px;
    height: 3px;
    background-color: black;
    margin:6px 0;
    border-radius: 10px;
    cursor: pointer;
}

/* VARIABLES ROOTS */
:root{
    --H-HEIGHT: 3rem;
    --FONT-SEMI: 600;

   /* COLORS */
   --F-COLOR:rgba(52, 113, 199, 0.938);
   --S-COLOR: #0e2431;
   --GRADIENT-COLOR: linear-gradient(to right,rgb(2, 2, 39)(0, 4, 255),rgb(75, 7, 75));

   /* FONT */
   --B-FONT: 'Josefin',Sans-serif;
   --BIG-FONT: 2rem;
   --NORMAL-FONT: 1rem;
   --H2-FONT: 1.5rem;
}

@media screen and (min-width: 760px){
    :root{
        --BIG-FONT: 3.5rem;
        --NORMAL-FONT: 2rem;
        --H2-FONT: 1rem;
    }

}
/* MARGINS */
:root{
    --MB-1:0.5rem;
    --MB-2:1rem;
    --MB-3:1.5rem;
    --MB-4:2rem;
    --MB-4:2.5rem;
    --MB-5:3rem;
}
/* Z-INDEX */
:root{
    --Z-BACK:-10;
    --Z-NORMAL:1;
    --Z-TOOLTIP:10;
    --Z-FIXED:100;
}
/* GENERAL STYLE */
html{
    scroll-behavior: smooth;
}
body{
    height: var(--H-HEIGHT);
    font-family: var(--B-FONT);
    font-size: var(--NORMAL-FONT);
    color: var(--S-COLOR);
}

h1,h2,p{
    margin: 0;
}
ul{
    margin:0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* CUSTOME CSS CLASS */

/* LATOUT */
.bg_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% -2rem);
    margin-left: var(--MB-2);
    margin-right: var(--MB-2);
}
.header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: var(--Z-FIXED);
    background: #fff;
    box-shadow: 0 1px 4px rgba(146,161,176,0.15);
}
/* NAVBAR */
.nav{
    height: var(--H-HEIGHT);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--FONT-SEMI);
}
@media screen and (max-width:768px) {
    .nav_menu{
        position: fixed;
        top: var(--H-HEIGHT);
        right: 0;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--S-COLOR);
        transition: 500ms;
    }
    
}
    



   